.itemBlock .container-box {
    padding: .52rem .4rem .52rem 1.2rem;
}
.itemBlock .container-box .recruitmentInfo {
    width: calc(100% - 4.24rem);
    margin-right: .6rem;
    float: left;
}
.itemBlock .container-box .recruitmentInfo img {
	width: .39rem;
	height: .31rem;
}
.itemBlock .container-box .recruitmentInfo img:last-child {
	margin: .4rem auto 0;
	width: auto !important;
	height: auto !important;
}
.itemBlock .container-box .recruitmentInfo h6 {
	font-size: .22rem;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Medium;
	font-weight: 500;
	line-height: .3rem;
	margin-top: .32rem;
}
.itemBlock .container-box .recruitmentInfo ul {
	padding: .04rem 0;
}
.itemBlock .container-box .recruitmentInfo ul li {
	margin-top: .2rem;
	font-size: .2rem;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Medium;
	font-weight: 500;
}
.itemBlock .container-box .recruitmentInfo ul li p {
	line-height: .28rem;
}
.itemBlock .container-box .recruitmentInfo ul li p:nth-child(2) {
	margin-top: .07rem;
	color: #2157A8;
}
.itemBlock .container-box .recruitmentInfo>p {
	font-size: .22rem;
	color: rgba(0, 0, 0, .65);
	font-family: Avenir-Roman;
	line-height: .3rem;
	margin-top: .08rem;
}
.itemBlock .container-box .recruitmentInfo ul li p a,
.itemBlock .container-box .recruitmentInfo>p span {
	text-decoration: underline;
	font-family: Avenir-Medium;
	font-weight: 500;
	color: rgba(0, 0, 0, .85);
}
.itemBlock .container-box .form-box {
    width: 3.64rem;
    background-color: #F5F5F5;
    padding: .32rem .26rem;
    float: right;
}
.itemBlock .container-box .form-box input,
.itemBlock .container-box .form-box textarea {
    width: 3.12rem;
    height: .4rem;
    display: block;
    padding: .08rem .16rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-bottom: .16rem;
    font-size: .18rem;
    font-family: Avenir-Roman;
    border: .01rem solid #CED4DA;
}
.itemBlock .container-box .form-box textarea {
    height: 2.6rem;
    resize: none;
}
.itemBlock .container-box .form-box button {
    width: 1.52rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    background-color: #2157A8;
    color: #fff;
    margin-top: .06rem;
    font-size: .18rem;
    font-family: Avenir-Medium;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    float: right;
}